name: auto-pr
on:
  workflow_dispatch:
  
  push:
    branches-ignore:
      - main

permissions: 
  contents: read
  pull-requests: write
  
jobs:
  pull_request:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # 6.0.2
      - name: Create GitHub App Token
        id: app_token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf #v2.2.1
        with:
          app-id: ${{ vars.AUTO_PR_APP_ID }}
          private-key: ${{ secrets.AUTO_PR_APP_PRIVATE_KEY }}
      - name: pull-request
        uses: diillson/auto-pull-request@4cf50b3681cd76250f37841466e61e514a377064 #v1.0.1
        with:
          destination_branch: 'main'
          github_token: ${{ steps.app_token.outputs.token }}
