name: auto-pr
on:
  workflow_call:
    secrets: 
      token:
        description: "Github token"
        required: true
      auto_pr_private_key:
        description: "App Key for using bot"
        required: false

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  pull_request:
    runs-on: ubuntu-latest
    timeout-minutes: 3
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # 6.0.1
      - name: Create GitHub App Token
        env:
          auto_pr_private_key: ${{ secrets.auto_pr_private_key }}
        if: env.auto_pr_private_key != ''
        id: app_token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf #v2.2.1
        with:
          app-id: ${{ vars.AUTO_PR_APP_ID }}
          private-key: ${{ secrets.auto_pr_private_key }}
      - name: pull-request
        uses: diillson/auto-pull-request@4cf50b3681cd76250f37841466e61e514a377064 #v1.0.1
        with:
          destination_branch: 'main'
          github_token: ${{ steps.app_token.outputs.token || secrets.token }}
