name: Enforce TreatWarningsAsErrors

on:
  workflow_dispatch: 
  workflow_call:

permissions: 
  contents: read
  
jobs:
  check_treat_warnings_as_errors:
    runs-on: ubuntu-latest
    name: Check TreatWarningsAsErrors in Release Configuration
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Check TreatWarningsAsErrors in Release Configuration
        run: |
          violations=""
          
          find . -name "*.csproj" -not -path "*[Tt]est*" -not -path "*[Ee]xample*" -print0 | while IFS= read -r -d $'\0' project_file; do        
            if ! grep -q "<PropertyGroup Condition=\" '\\\$\\(Configuration\\)\\' == 'Release' \">\s*<TreatWarningsAsErrors>true</TreatWarningsAsErrors>" "$project_file"; then
              violations="$violations\n- $project_file"
            fi
          done
          
          if [ -n "$violations" ]; then
            echo "::error::The following non-test/example C# projects do not enforce TreatWarningsAsErrors in the Release configuration:${violations}"
            exit 1
          else
            echo "All relevant C# projects enforce TreatWarningsAsErrors in the Release configuration."
          fi
