name: merge-checks

on:
  workflow_dispatch:
  workflow_call:
    inputs:
      node_version:
        required: true
        description: "Node version to resolve node/npm dependency"
        type: string
    secrets: 
      githubToken:
        description: "Github token"
        required: true 
      npm_token:
        required: true
        description: "Github token for organization package resolve"
      chromatic_token:
        required: true
        description: "Chromatic token for storybook publish"

permissions: 
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  sast:
    runs-on: ubuntu-latest
    timeout-minutes: 3
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: semgrep-action
        uses: semgrep/semgrep-action@713efdd345f3035192eaa63f56867b88e63e4e5d #v1
  secrets:
    runs-on: ubuntu-latest
    timeout-minutes: 3
    container:
      image: ghcr.io/gitleaks/gitleaks:latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: GitLeaks
        shell: bash
        env: 
          GITHUB_TOKEN: "${{ secrets.githubToken }}"
        run: |
          REPO_NAME=$(echo "${{ github.repository }}" | cut -d '/' -f 2)
          WORK_DIR="/__w/${{ github.repository_owner }}/${REPO_NAME}"
          CONTAINER_WORK_DIR="/__w/${REPO_NAME}/${REPO_NAME}"
          git config --global --add safe.directory "$WORK_DIR"
          git config --global --add safe.directory "$CONTAINER_WORK_DIR"
          gitleaks git --verbose --log-level trace  --log-opts="-n 10"
  format-check:
    runs-on: ubuntu-latest
    timeout-minutes: 3
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-node@v6.1.0
      - uses: innago-property-management/Oui-DELIVER/.github/actions/setup-npmrc@v2
        with:
          node-version: ${{ inputs.node_version }}
          npm_token: ${{ secrets.npm_token }}
      - run: npm ci --legacy-peer-deps
      - run: npm run format:check

  lint-check:
    runs-on: ubuntu-latest
    timeout-minutes: 3
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-node@v6.1.0
      - uses: innago-property-management/Oui-DELIVER/.github/actions/setup-npmrc@v2
        with:
          node-version: ${{ inputs.node_version }}
          npm_token: ${{ secrets.npm_token }}
      - run: npm ci --legacy-peer-deps
      - run: npm run lint

  chromatic:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0 # Required for Chromatic
      - uses: innago-property-management/Oui-DELIVER/.github/actions/setup-npmrc@v2
        with:
          node-version: ${{ inputs.node_version }}
          npm_token: ${{ secrets.npm_token }}
      - uses: actions/setup-node@v6.1.0
        with:
          node-version: ${{ inputs.node_version }}
          cache: 'npm'
      - run: npm ci --legacy-peer-deps
      - run: NODE_OPTIONS=--max-old-space-size=8192 npm run chromatic -- --project-token=${{ secrets.chromatic_token }} --only-changed

  vulnerability-check:
    runs-on: ubuntu-latest
    timeout-minutes: 3
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-node@v6.1.0
      - uses: innago-property-management/Oui-DELIVER/.github/actions/setup-npmrc@v2
        with:
          node-version: ${{ inputs.node_version }}
          npm_token: ${{ secrets.npm_token }}
      - run: npm ci --legacy-peer-deps
      - run: |
          npm audit --json --audit-level=high > audit.json || true
          node .github/scripts/check-audits.js

  outdated:
    runs-on: ubuntu-latest
    timeout-minutes: 3
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Setup Node
        uses: actions/setup-node@65d868f8d4d85d7d4abb7de0875cde3fcc8798f5 # v3.9.1
        with:
          node-version: lts/*
      - name: Install jq
        uses: dcarbone/install-jq-action@b7ef57d46ece78760b4019dbc4080a1ba2a40b45 #v3.2.0
      - uses: innago-property-management/Oui-DELIVER/.github/actions/setup-npmrc@v2
        with:
          node-version: ${{ inputs.node_version }}
          npm_token: ${{ secrets.npm_token }}
      - name: Outdated Tool
        shell: bash
        run: |
          npm ci --legacy-peer-deps
          npm run outdated:check

  run-tests:
    needs: [format-check, lint-check, chromatic, vulnerability-check, sast, secrets, outdated]
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-node@v6.1.0
      - uses: innago-property-management/Oui-DELIVER/.github/actions/setup-npmrc@v2
        with:
          node-version: ${{ inputs.node_version }}
          npm_token: ${{ secrets.npm_token }}
          cache: 'npm'
      - run: npm ci --legacy-peer-deps
      - run: NODE_OPTIONS=--max-old-space-size=8192 npm run test:ci

  run-build:
    if: github.event_name == 'pull_request'
    needs: [format-check, lint-check, chromatic, vulnerability-check, sast, secrets, outdated]
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-node@v6.1.0
      - uses: innago-property-management/Oui-DELIVER/.github/actions/setup-npmrc@v2
      - uses: innago-property-management/Oui-DELIVER/.github/actions/build-angular@v2
        with:
          node-version: ${{ inputs.node_version }}
          npm_token: ${{ secrets.npm_token }}
          cache: 'npm'
